@{
    ViewBag.Title = "联系我们";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>请不要联系我们!</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>电话</h3>
    </header>
    <p>
        <span class="label">主要电话</span>
        <span>+8613614381438</span>
    </p>
    <p>

    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">jiangliwu@ipple.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>